.layout-holder__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    padding: 32px 16px;
    overflow-y: scroll;
    height: 100vh;
}

.layout-holder__content::-webkit-scrollbar {
    width: 4px;
    height: 4px
}

.layout-holder__content::-webkit-scrollbar-thumb {
    background: #bd60cf
}

.layout-holder__content::-webkit-scrollbar-track {
    background: transparent
}

.layout-holder__content {
    scrollbar-face-color: #bd60cf;
    scrollbar-track-color: transparent
}

@media (min-width:1200px) {
    .layout-holder__content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 800px;
        flex: 0 0 800px;
        padding: 32px 64px
    }
}

.layout-holder__content__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin-top: 0
}

@media (min-width:767px) {
    .layout-holder__content__header {
        margin-top: 64px
    }
}

.layout-holder__content__header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180px
}

.layout-holder__content__body {
    -webkit-box-flex: 14;
    -ms-flex: 14;
    flex: 14
}

.layout-holder__content__body__form {
    margin: 32px 0
}

.layout-holder__content__body__form__head__title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    color: #333;
    text-align: center
}

.layout-holder__content__body__form__holder {
    margin-top: 64px
}

.layout-holder__content__body__form__holder__section {
    margin-bottom: 32px
}

.layout-holder__content__body__form__holder__section__title {
    position: relative;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #bd60cf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px
}

.layout-holder__content__body__form__holder__section__title:before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #bd60cf;
    margin-right: 8px
}

.layout-holder__content__body__form__holder__section__area__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    background-color: #f2f2f2;
    padding: 12px 24px;
    border-radius: 4px;
    margin: 24px 0
}

.layout-holder__content__body__form__holder__section__area__block__list__item {
    padding: 24px 0 8px;
    border-bottom: 1px dashed #bd60cf
}

.layout-holder__content__body__form__holder__section__area__block__list__item:first-child {
    padding-top: 0
}

.layout-holder__content__body__form__holder__section__area__block__list__item:last-child {
    padding-bottom: 0;
    border: 0
}

.layout-holder__content__body__form__holder__section__area__block__list__item__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: rgba(189, 96, 207, .2);
    border-radius: 4px;
    color: #bd60cf;
    padding: 8px 24px;
    margin-bottom: 24px
}

.layout-holder__content__body__form__holder__section__area__block__list__item__heading__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 0
}

.layout-holder__content__body__form__holder__section__area__block__list__item__heading__remove {
    font-size: 12px;
    color: #bd60cf;
    cursor: pointer
}

.layout-holder__content__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
}

.layout-holder__content__footer__copyright {
    display: block;
    font-family: Futura New Book;
    font-size: 16px;
    line-height: 24px;
    color: #666
}



/*  input styles */

.input-wrapper {
    position: relative;
    margin-bottom: 15px;
}

.input-wrapper.has-icon .input-control {
    padding-right: 40px
}

.input-label {
    display: inline-block;
    line-height: 24px;
    color: #4d4d4d;
    margin-bottom: 6px
}

.input-control, .input-label {
    font-size: 16px;
    font-weight: 500
}

.input-control {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 10px 12px;
    color: #000;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

.input-control::-webkit-input-placeholder {
    color: #999;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.input-control:-moz-placeholder, .input-control::-moz-placeholder {
    color: #999;
    -moz-transition: .2s all ease-in-out;
    transition: all .2s ease-in-out
}

.input-control:-ms-input-placeholder {
    color: #999;
    -ms-transition: .2s all ease-in-out;
    transition: all .2s ease-in-out
}

.input-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #bd60cf
}

.input-control:focus::-webkit-input-placeholder {
    opacity: 0
}

.input-control:focus:-moz-placeholder, .input-control:focus::-moz-placeholder {
    opacity: 0
}

.input-control:focus:-ms-input-placeholder {
    opacity: 0
}

.input-control .disabled, .input-control:disabled {
    background-color: #f2f2f2;
    border-color: #f2f2f2
}

.input-icon {
    position: absolute;
    top: 14px;
    right: 12px;
    font-size: 12px;
    color: grey;
}

.fileupload {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 40px;
    border-radius: 4px;
    padding: 0 12px;
    border: 1px dashed #e6e6e6;
    overflow: hidden
}
.fileupload-placeholder {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #999
}
.fileupload-button {
    position: absolute;
    right: 1px;
    top: 1px;
    line-height: 18px!important
}

.fileupload-button input[type=file] {
    -webkit-appearance: none;
    position: absolute;
    opacity: 0
}
.fileupload-file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px
}
.fileupload-file__remove {
    font-size: 15px;
    color: red;
    margin-right: 12px;
    cursor: pointer
}


.fileupload-file__name {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%
}

.btn {
    display: inline-block;
    border: 0 solid transparent;
    border-radius: 4px;
    line-height: 20px;
    padding: 10px 45px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none!important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.btn:focus {
    outline: 0!important;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-primary {
    background-color: #bd60cf;
    color: #fff
}

.btn-primary:hover {
    background-color: #84129a
}

.btn-transparent {
    background-color: transparent;
    border: 1px dashed #bd60cf;
    color: #bd60cf;
    padding: 9px 45px
}
.btn-fluid {
    display: block;
    width: 100%
}
.btn-transparent:hover {
    background-color: #bd60cf;
    color: #fff
}

.btn, .radio-label {
    font-size: 16px;
    font-weight: 500
}